﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="BonusAssignment._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div class="jumbotron">
        <h1>TOOLS</h1>
        <p class="lead">This application is useful in finding Quadrant for point, check number is prime or not and to check string is palindrome or not.</p>
    </div>

</asp:Content>
